<h1>New Facebook</h1>

<%= link_to "Create New User", new_user_path %>

<% @users.each do |user| %>
  <h2> <%= user.first_name %> </h2> # Needs last name next to first name
  <%= link_to "Show Information", user_path(user)%>
  <%= link_to "Edit User", edit_user_path(user) %>
  <%= link_to "DELETE", user_path(user), method: :delete%>


<% end %>